<div class="main">
  <label>Name:<br>
    <input type="text" class="css-input" name="name" id="name" value="" />
  </label>
  <label>X:<br>
    <input type="number" class="css-input" name="x" id="x" value="" />
  </label>
  <label>Y:<br>
    <input type="number" class="css-input" name="y" id="y" value="" />
  </label>
  <label>Duration or scroll len:<br>
    <input type="number" class="css-input" name="duration" id="duration" value="0" />
  </label>
  <div class="next">
    <button onclick="addButtonM({{ id }}, {{ type }})" class="css-input" type="button" name="submit" style="font-size: 30px;">Submit</button>
  </div>
  {% if type in [0,2,4,5,7,8] %}
      <div id="X">x</div>
      <div id="Y">y</div>
  {% endif %}
</div>
{% if type in [0,2,4,5,7,8] %}
  <script type="text/javascript" charset="utf-8">
      var cords = io('http://' + document.domain + ':' + location.port + '/cords');

      cords.on('connect', function() {
        console.log("connect on cords")
      });
      cords.on('newnumber', function(data){
        document.getElementById("X").innerHTML = "X: " + data.number[0];
        document.getElementById("Y").innerHTML = "Y: " + data.number[1];
      });
  </script>
{% endif %}
