<div class="main">
  <label>Name:<br>
    <input type="text" class="css-input" name="name" value="" />
  </label>
  <label>X:<br>
    <input type="number" class="css-input" name="x" value="" />
  </label>
  <label>Y:<br>
    <input type="number" class="css-input" name="y" value="" />
  </label>
  <label>Duration or scroll len:<br>
    <input type="number" class="css-input" name="duration" value="" />
  </label>
  <div class="next">
    <button class="css-input" type="button" name="submit" style="font-size: 30px;">Submit</button>
  </div>
</div>
