<div class="main" id="user_form">
  <label>Name:<br>
    <input type="text" class="css-input" name="name" id="name" value="" />
  </label>
  <label>Scroll:<br>
    <input type="number" class="css-input" name="scroll" id="scroll" value="10.0" />
  </label>
  <label>X:<br>
    <input type="text" class="css-input" name="x" id="x" value="" />
  </label>
  <label>Y:<br>
    <input type="text" class="css-input" name="y" id="y" value="" />
  </label>
  <div id="X">x</div>
  <div id="Y">y</div>
  <div class="example">
    Example:
    <ul>
      <li>X: 546, Y: 546</li>
      <li>X: None, Y: None</li>
    </ul>
  </div>
  <div class="next">
    <button onclick="doForm({{ id }}, {{ type }})" class="css-input" type="button" name="submit" style="font-size: 30px;">Submit</button>
    <!-- <button onclick="addButtonM({{ id }}, {{ type }})" class="css-input" type="button" name="submit" style="font-size: 30px;">Submit</button> -->
  </div>

</div>
<script type="text/javascript" charset="utf-8">
  var cords = io('http://' + document.domain + ':' + location.port + '/cords');

  cords.on('connect', function() {
    console.log("connect on cords")
  });
  cords.on('newnumber', function(data){
    document.getElementById("X").innerHTML = "X: " + data.number[0];
    document.getElementById("Y").innerHTML = "Y: " + data.number[1];
  });
</script>
