<div class="main">
  <h2 style="margin-top:0;">Mouse</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/0';">Move to</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/1';">Move relative</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/2';">Drag to</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/3';">Drag relative</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/4';">Right click</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/5';">Midle click</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/6';">Double click</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/7';">Triple click</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/8';">Scroll</button>
  <h2>Keyboard</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/2/9';">Typewrite</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/2/10';">Hotkey</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/2/11';">Press key</button>
  <h2>Other</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/3/13';">Cmd command</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/4/12';">Screenshot</button>
</div>
