<div class="main">
  <h2 style="margin-top:0;">Mouse</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/1/0';">Mouse click</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/2/1';">Mouse move</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/3/2';">Mouse scroll</button>
  <h2>Keyboard</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/4/3';">Keyboard</button>
  <h2>Other</h2>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/5/4';">Screenshot</button>
  <button class="block" onclick="script: document.location.href='/addButton/{{ id }}/6/5';">Cmd command</button>
</div>
