<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <title>Add group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/master.css">
  <link rel="stylesheet" href="/static/css/addButton.css">
  <script src="/static/js/main.js" charset="utf-8"></script>
</head>

<body>
  <div class="addGroup">
    <h1>Add group</h1> <button class="return" onclick="script: document.location.href='/'">Return</button>
  </div>
  <div class="main">
    <label>Name:<br>
      <input type="text" class="css-input" name="name" value="" />
    </label>
    <div class="next">
      <button class="css-input" type="button" name="submit" style="font-size: 30px;">Submit</button>
    </div>
  </div>
</body>
