<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <title>{{host}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/master.css">
  <script src="/static/js/socketio.js" charset="utf-8"></script>
  <script src="/static/js/main.js" charset="utf-8"></script>
</head>

<body>
  <div class="addGroup gruop">
    <h1>Remote App</h1>
  </div>
    <br>
    <h2>Enter on another device on the local network</h2>
    <h2>{{ host }}</h2>
    <br>
    <a href="https://play.google.com/store/apps/developer?id=IdiocyPatience">
      <h2>Download the android app</h2>
    </a>

    <a href="/"><h2>Open here</h2></a>
</body>

</html>
